<h1>Home</h1>
<% if @repos_data %>
  <ol>
    <% @repos_data.each do |repo| %>
      <li><%= repo['name'] %></li>
      <p><%= repo['html_url'] %></p>
    <% end %>
  </ol>
<% else %>
  <p>No repositories found.</p>
<% end %>